
/* Put your CSS here */
html, body {
  margin: 0px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

/* generic styles */
.address { width: 350px;}
.latlong { width: 55px; }

.location { margin-bottom: 10px; color: blue; text-decoration: underline; }
.location .locationLink:hover { cursor: pointer; }
.location .locationLink.selected { color: red; }

.navbar {
    background-color: #eaeaea;
}

.map-controls { 
    margin: 0 10px;
}

.map-container {
    margin: 10px;
}

.map {
    min-width: 450px;
    min-height: 550px;
}

.infoWindow h1 {
    font-size: 1.2em;
}

.infoWindow .body {
}

.infoWindow .body ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.infoWindow .body ul li {
    float: left;
    margin-right: 8px;
    border: solid 1px #000;
}

.infoWindow .body ul li img {
    width: 50px;
    height: 50px;
}

.page { margin-top: 10px; position: relative; }

.sidebar { 
    position: absolute; 
    right: 0; bottom: 0; 
    border: solid 1px #fff;
    background-color: #fff;
    max-width: 400px;
    height: 50%;
}
.sidebar .handle {
    float: left;
    width: 30px;
    height: 100%;
    background-color: #99e;
}
.sidebar .body {
    position: relative;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.sidebar .body .heading { 
    position: absolute;
    width: 300px;
    text-align: center;
    background-color: #fff;
}

.sidebar .body .locationList {
    height: 100%;
    margin-top: 30px;
    margin-left: 15px;
    padding: 0;
    overflow-y: scroll;
}

.sidebar .body .location { 
    list-style-type: none;
}



input[readonly]
{
    background-color: #f0f0f0;
    border: solid 1px #bbb;
}

